@font-face {
  font-family: "K2D";
  src: url("K2D-Regular.ttf");
}

:root {
  --my-height: 500px;
}

* {
  font-family: "K2D";
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.navbar {
  height: 60px;
  background-color: #b0c5a2;
  padding: 0;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.left {
  float: left;
  margin-top: -3px;
}
.right {
  float: right;
  margin-top: -3px;
}
.navbar ul {
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;
}
.navbar li {
  display: flex; /* Use flexbox for layout */
  align-items: center;
  height: 40px;
  border-radius: 10px;
}
.navbar li:hover {
  color: white;
  text-decoration: underline;
}
#logo {
  max-height: 40px;
  padding: 0;
}

.test {
  align-items: center;
}
.nav-input {
  margin-left: 30px;
  width: 500px;
  border: none;
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
  color: grey;
  padding: 5px 5px;
  padding-left: 10px;
}
.nav-input:focus {
  outline: none;
}
#create-button {
  border-style: none;
  height: 30px;
  text-align: center;
  font-size: 10px;
  padding: 0px 15px;
  border-radius: 5px;
}
.block-one .section-left {
  float: left;
  width: 50%;
  display: inline-block;
  height: 400px;
  display: flex;
  align-items: center;
  font-size: 50px;
}
.block-one .section-right {
  width: 50%;
  height: 400px;
  display: inline-block;
  padding: 40px;
}
.block-one {
  padding: 30px;
  background-color: #f3f2f2;
}
.picture {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #b0c5a2;
  justify-content: center;
  align-items: center;
}
.dotted-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns dots in the center */
  gap: 10px; /* Controls spacing between dots */
  height: 175px; /* Length of the entire line */
  justify-content: space-evenly; /* Distributes dots evenly */
}

.dot {
  border-radius: 3px;
  opacity: 65%;
  width: 3px; /* Thickness of the line */
  height: 16px; /* Height of each dot */
  background-color: black; /* Dot color */
}
.authenticate {
  background-color: #f3f2f2;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.authenticate button {
  align-self: center;
  padding: 8px 16px;
}
.block-three .section-left {
  float: left;
  width: 40%;
  height: 350px;
  background-color: rgb(201, 201, 201);
  font-size: 35px;
  text-align: center;
  align-content: center;
}
.block-three .section-right {
  float: right;
  width: 60%;
  height: 350px;
  background-color: rgb(247, 247, 247);
  padding: 55px;
}
.project-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #b0c5a2;
  flex-direction: column;
}
.project-container .container {
  flex: 1;
  border: 0.5px solid black;
}
