:root {
  --my-height: 500px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.navbar {
  height: 60px;
  background-color: #b0c5a2;
  padding: 0;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.left {
  float: left;
  margin-top: -3px;
}
.right {
  float: right;
  margin-top: -3px;
}
.navbar ul {
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;
}
.navbar li {
  display: flex; /* Use flexbox for layout */
  align-items: center;
  height: 40px;
  border-radius: 10px;
}
.navbar li:hover {
  color: white;
  text-decoration: underline;
}
#logo {
  max-height: 40px;
  padding: 0;
}

.test {
  align-items: center;
}
.nav-input {
  margin-left: 30px;
  width: 500px;
  border: none;
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
  color: grey;
  padding: 5px 5px;
  padding-left: 10px;
}
.nav-input:focus {
  outline: none;
}
#create-button {
  border-style: none;
  height: 30px;
  text-align: center;
  font-size: 10px;
  padding: 0px 15px;
  border-radius: 5px;
}
.section-left {
  float: left;
  height: 100vh;
  background-color: grey;
  width: 60%;
  display: inline-block;
}
.section-right {
  height: 100vh;
  width: 40%;
  background-color: antiquewhite;

  display: inline-block;
}
